<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>首页 - 老赵点滴 - 追求编程之美</title>
    <meta charset="utf-8" />

    <link type="text/css" rel="Stylesheet" href="styles/site.css" />

</head>
<body>
    <div id="header">
        <div id="top">
            <a id="minyx" href="#">Spiga</a>
            <ul id="menu">
                <li>Posts - 614, Articles - 5, Comments - 30435</li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        <h1 id="title">
            <a href="#">老赵点滴 - 追求编程之美</a>
            <small>先做人，再做技术人员，最后做程序员。打造国内最好的.NET技术博客。</small>
        </h1>
        <ul id="nav">
            <li class="current"><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Gallery</a></li>
            <li class="rss"><a href="#">RSS</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="sidebar">
            <div class="about block">
                <h2>About</h2>
                <img style="float: left; margin: 4px 6px 5px 0;" src="http://images.cnblogs.com/cnblogs_com/JeffreyZhao/168980/o_blog_me_a.png" />
                <p><strong>赵劼</strong>，网名<strong>老赵</strong>，洋名<strong>Jeffrey Zhao</strong>，目前就职于IBM，高级咨询师。InfoQ中文站编辑，多次受邀于微软TechED，MSDN WebCast及各微软官方或社区会议中担任技术议题讲师。</p>
                <p>关注前沿技术，并致力于开源社区与微软平台的组合优化。对函数式编程，并行程序开发，代码之美s以及程序员能力与修养等相关问题也有着浓厚的兴趣，同时非常希望能够写程序到60岁。最近致力于Jscex项目的开发与推广，并关注F#，Scala语言及mono平台在社区中的发展。</p>
                <p>希望可以给初学者以合适引导。坚定的北大青鸟反对者，强烈愤慨恶劣的培训机构对于处于懵懂期的初学者以误导，强烈抵制各种虚假广告给业界带来的不良影响，强烈建议有理想有抱负的从业青年放弃北大青鸟，不要做冤大头。</p>
            </div>
            
            <div id="search" class="block">
                <input type="image" src="http://blog.zhaojie.me/images/btnsearch.gif" class="submit" />
                <label>
                    <input type="text" class="keyword" />
                </label>
            </div>
            
            <div class="big list block">
                <h2>我的推特</h2>
                <ul class="voice">
                    <li><span>@<a href="#" target="_blank">catchen</a> @<a href="#" target="_blank">HowardSu</a> 为什么会有那么多……</span></li>
                    <li><span>我就搞不懂为什么大牛会出来辟谣 RT @<a href="#" target="_blank">handaoliang</a>: 我说过，我是坚决不会相信新浪的所有账户的密码都是加密过再存储的。或者至少不会相信他们的密码是不可逆加密保存的。不管哪个大牛出来辟谣我都不会信，这和人品无关。</span></li>
                    <li><span>这年头，有国内大牛担保的也不能信，大家都太不爱惜自己羽毛了。 RT @<a href="#" target="_blank">luosheng</a>: 新浪明文储存密码，刘谦被爆…… <a href="#" target="_blank">http://t.co/X5NZb4CW</a>…</span></li>
                    <li><span>@<a href="#" target="_blank">tom_jiang1987</a> 不急 :)</span></li>
                    <li><span>@<a href="#" target="_blank">shyc2001</a> 都不要IE7和6了还无自信呀？</span></li>
                    </ul>
            </div>
            
            <div class="left">
                <div class="small list block">
                    <h2>最新随笔</h2>
                    <ul class="icon bullet">
                        <li><a href="#">Node.js中相同模块是否会被加载多次？</a></li>
                        <li><a href="#">受禁锢的异步编程思维</a></li>
                        <li><a href="#">Jscex正式发布至npm</a></li>
                        <li><a href="#">尾递归对时间与空间复杂度的影响（上）</a></li>
                        <li><a href="#">挖坟鞭尸：当年Sun公司的白皮书《About Microsoft “Delegates”》</a></li>
                        <li><a href="#">老赵书托（4）：浪潮之巅（内含牢骚，不喜勿入）</a></li>
                        <li><a href="#">使用Mono.Cecil辅助ASP.NET MVC使用dynamic类型Model</a></li>
                        <li><a href="#">在.NET平台下使用C#交互式控制台（上）：简介</a></li>
                        <li><a href="#">谈谈年度最佳代码“不管你们信不信，反正我信了”</a></li>
                        <li><a href="#">基于Node.js、Express和Jscex开发的ToDo网站示例</a></li>
                        <li><a href="#">从今开始远离纸版图书</a></li>
                        <li><a href="#">IBM面试记</a></li>
                        <li><a href="#">两则.NET高级技术人员的招聘信息</a></li>
                        <li><a href="#">匿名类型的硬伤：围绕this的成员捕获策略</a></li>
                        <li><a href="#">JavaScript：假如default不是switch的最后一项</a></li>
                        <li><a href="#">上周末Jscex项目介绍的幻灯片</a></li>
                        <li><a href="#">浅谈Jscex的$await语义及异步任务模型</a></li>
                        <li><a href="#">浅谈Jscex编译结果的优化</a></li>
                        <li><a href="#">Jscex编译器更新：已支持嵌套Jscex函数</a></li>
                        <li><a href="#">SNDACode及Jscex项目中文站</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="right">                
                <div class="small list block">
                    <h2>国外博客</h2>
                    <ul class="icon chain">
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Dare Obasanjo</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Debasish Ghosh</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Jeff Atwood</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Joe Duffy</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Joe Stagner</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Joel Spolsky</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Kent Beck</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Mark Needham</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Matthew Podwysocki</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Nikhil Kothari</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Oren Eini</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Phil Haack</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Rick Strahl</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Rico Mariani</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Rob Conery</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Robert Pickering</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Scott Hanselman</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Stephan Schmidt</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Steven Harman</a></li>
                        <li>
                                <a class="mini_rss" target="_blank" href="#">Rss</a>
                                <a href="#" target="_blank">Tomas Petricek</a></li>
                    </ul>
                </div>
                <div class="small list block">
                    <h2>随笔分类</h2>
                    <ul class="icon folder">
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">重中之重</a>
                            (18)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">.Net框架</a>
                            (108)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">ASP.NET</a>
                            (175)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">语言编程</a>
                            (129)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">前端表现</a>
                            (164)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">实践优化</a>
                            (186)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">项目扩展</a>
                            (47)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">翻译引进</a>
                            (45)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">并行处理</a>
                            (35)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">架构设计</a>
                            (10)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">思考讨论</a>
                            (57)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">技术尝鲜</a>
                            (37)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">生活心情</a>
                            (22)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">新闻信息</a>
                            (37)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">培训演讲</a>
                            (45)
                        </li>
                        <li>
                            <a class="mini_rss" href="#">RSS</a>
                            <a href="#">阅读相关</a>
                            (17)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main">
            <% for (var i = 0; i < posts.length; i++) { %>
            <% var p = posts[i]; %>
            <div class="post">
                <h2><a href="#"><%= p.title %></a></h2>
                <small>2011-12-27 15:19 by 老赵, <%= p.visits %> visits</small>
                <div class="entry"><p><strong>摘要：</strong><%= p.abstract %><a href="#">阅读全文</a></p></div>
                <ul class="metadata">
                    <li class="icon comment"><a href="#"><%= p.commentCount %> Comments</a></li>
                    <li class="icon cat">
                        <strong>Categories: </strong>
                        <% for (var j = 0; j < p.categories.length; j++) { %>
                            <a href="#"><%= p.categories[j] %></a><% if (j < p.categories.length - 1) { %>, <% } %>
                        <% } %>
                    </li>
                    <li class="icon bullet">
                        <strong>Tags: </strong>
                        <% for (var j = 0; j < p.tags.length; j++) { %>
                            <a href="#"><%= p.tags[j] %></a><% if (j < p.tags.length - 1) { %>, <% } %>
                        <% } %>
                    </li>
                </ul>
            </div>
            <% } %>
        </div>
        
        <div id="pager">
            <span class="current">1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                 ...
                <a href="#">28</a>
            <a href="#">Next &gt;</a>
        </div>
    
        <br class="clear" />
    </div>
    <div id="footer">
        <div id="footer-container">            
            <a id="logo" href="#" title="Agencia Interactiva Spiga">www.spiga.com.mx</a>
            <p id="copyright">Copyright ©2012 Jeffrey Zhao</p>
        </div>
    </div>
</body>
</html>
